
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo');

svg{
  display: flex;
  width: 50px;
  height: 50px;
  transform: scale(7);
}

.clock-container{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  transition: all 0.3s linear 0ms;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0ms;
  z-index: 1;
}

.clock{
  position: relative;
  max-width: 164px;
  font-weight: 100;
  color: white;
  font-size: 72px;
  background-color: #1E1E1E;
  display: flex;
  border-radius: 5px;
  padding: 0px 5px 0px 5px;
}

  /* TIMER LIST */

.overflow-close{
  display: flex;
  flex-direction: column;
  height: 0px;
  overflow: hidden;
  top: 25px;
  background-color: #424242;
  border-left: 0.5px solid;
  border-right: 0.5px solid;
  border-color: white;

  transition: all 0.3s linear 0ms;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0ms;
}

.overflow-open{
  display: flex;
  flex-direction: column;
  height: 130px;
  background-color: #353535;
  border-left: 0.5px solid;
  border-right: 0.5px solid;
  border-color: white;

  transition: all 0s linear 0ms;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: linear;
  transition-delay: 0ms;
}

.timer-list{
  display: flex;
  top: 0px;
  position: relative;
  font-size: 12px;
  margin-top: 0px;
  width: 90%;
  transition: all 0.3s linear 0ms;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0ms;
}

.timer-list input{
  padding-left: 5px;
  display: block;
  width: 97%;
  font-size: 16px;
  border: none;
  background-image:none;
  color: white;
  background-color: #727272;

}.timer-list input::-webkit-input-placeholder{
  padding-left: 3px;
  color: white;
  opacity: 0.5;
}

.timer-list input:focus {
  outline: none;
}

.timer-list hr {
  align-self: center;
  width: 90%;
  border: 0.5px solid;
  margin: 3px 0 2px 0;
  color: white;
}

.timer-list ul {
  height: 130px;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  top: 25px;
  z-index: 8;
}

.timer-list ul::-webkit-scrollbar {
  background-color: white;
  width: 0.5px;
}

.timer-list ul::-webkit-scrollbar-thumb{
  background-color: grey;
}

.timer-list li{
  padding-left: 10px;
  margin-top: 1px;
  position: relative;
  font-size: 16px;
  list-style: none;
  display: flex;
  box-shadow: inset 0 0 5px black;
  flex-direction: column;
  color: white;
  background-color: #353535;
  z-index: 7;
  cursor: pointer;
}
.timer-list li:last-child {
	border-bottom: none;
}

.timer-list span{
  padding-bottom: 2px;
  font-size: 10px;
  color: white;
  opacity: 0.5;
}

/* BUTTON */

.button-holder{
  padding-top: 12em;
  display: flex;
  text-align: center;
  max-width: 454px;
}

.btn {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  position: relative;
  text-transform: uppercase;
  vertical-align: middle;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
}

.btn:after{
  display: block;
}

.btn-style {
  border: 1 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
}

.btn-style:hover {
  border: 0.2px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-offset: 15px;
  outline-color: rgba(255, 255, 255, 0);
}

.run:after{
  content: "►";
  font-size: 64px;
  padding: 12px 0px 13px 8px;
}

.stop:after{
  content: "⌷⌷";
  font-size: 36px;
  padding: 10px 12px 15px 15px;
}

.reset:after{
  font-size: 48px;
  content: "↺";
  padding: 12px 15px 13px 18px;
}

.set-time:after{
  content: "set";
  font-size: 36px;
  padding: 10px 2.5px 15px 6.5px;
}

.add-button-close:after{
  text-align: center;
  width: 166px;
  top: -1px;
  right: 0px;
  position: relative;
  font-size: 30px;
  content: "▽";
  padding: 0px 0px 0px 0px;
  paddting-top: 0px;
  margin: 0!important;
  border: 1px solid;
  border-radius: 0px 0px 10px 10px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-weight: 400;
  line-height: 20px;
  margin: 0 auto 2em;
  text-transform: uppercase;
  vertical-align: middle;

  transition: all 0.5s linear 0ms;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0ms;
  z-index: 0;
}

.add-button-open:after{
  text-align: center;
  width: 166px;
  top: 0px;
  left: 0px;
  position: relative;
  font-size: 22px;
  content: "△";
  padding: 0px 0px 0px 0px;
  margin: 0!important;
  border: 1px solid;
  border-radius: 0px 0px 10px 10px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-weight: 400;
  line-height: 20px;
  margin: 0 auto 2em;
  text-transform: uppercase;
  vertical-align: middle;

  transition: all 0.3s linear 0ms;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0ms;
  z-index: 0;
}

.add-button-hide:after{
  text-align: center;
  witext-align: center;
  width: 166px;
  top: -25px;
  left: 0px;
  position: relative;
  font-size: 22px;
  content: "△";
  padding: 0px 0px 0px 0px;
  margin: 0!important;
  border: 1px solid;
  border-radius: 0px 0px 20px 20px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-weight: 400;
  line-height: 20px;
  margin: 0 auto 2em;
  text-transform: uppercase;
  vertical-align: middle;

  transition: all 0.3s linear 0ms;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0ms;
  z-index: 0;
}

.run:hover:after{
  -moz-text-shadow:0 0 10px white;
  -webkit-text-shadow:0 0 10px white;
  text-shadow:0 0 10px white;
}

.stop:hover:after{
  -moz-text-shadow:0 0 10px white;
  -webkit-text-shadow:0 0 10px white;
  text-shadow:0 0 10px white;
}

.reset:hover:after{
  -moz-text-shadow:0 0 10px white;
  -webkit-text-shadow:0 0 10px white;
  text-shadow:0 0 10px white;
}

.set-time:hover:after{
  -moz-text-shadow:0 0 10px white;
  -webkit-text-shadow:0 0 10px white;
  text-shadow:0 0 10px white;
}

.add-button-close:hover:after{
  transition: all 0.5s linear 0ms;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0ms;
  -moz-text-shadow:0 0 10px white;
  -webkit-text-shadow:0 0 10px white;
  text-shadow:0 0 10px white;
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-offset: 15px;
  outline-color: rgba(255, 255, 255, 0);
}

.add-button-open:hover:after{
  transition: all 0.5s linear 0ms;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0ms;
  -moz-text-shadow:0 0 10px white;
  -webkit-text-shadow:0 0 10px white;
  text-shadow:0 0 10px white;
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-offset: 15px;
  outline-color: rgba(255, 255, 255, 0);
}

.set-time-press{
  -moz-text-shadow:0 0 10px white;
  -webkit-text-shadow:0 0 10px white;
  text-shadow:0 0 10px white;
  border: 0.2px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-offset: 15px;
  outline-color: rgba(255, 255, 255, 0);
}

.delete:after {
  position: absolute;
  top: 2px;
  right: 3px;
  background-color: none;
  font-size: 10px;
  text-align: right;
  vertical-align: middle;
  content: '✖';
  border-radius: 1px solid;
  z-index: 10;
  opacity: 0.5;
}

.delete:hover:after{
  opacity: 0.9;
}

.edit:after {
  position: absolute;
  top: 2px;
  right: 20px;
  background-color: none;
  font-size: 10px;
  text-align: right;
  vertical-align: middle;
  content: '🔧';
  border-radius: 1px solid;
  z-index: 10;
  opacity: 0.5;
}

.edit:hover:after{
  opacity: 0.9;
}

/* BUTTON */

.hide{
  display:none;
}

.scale{
  transform: scale(1.8);
  padding-top: 10em!important;
}

.time-input{
  border: 1px solid;
  border-color: white;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timerCirckle{
  padding-top: 16em;
  top: 50px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: all 0.3s linear 0ms;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0ms;
}

.inner-shadow{
  -moz-box-shadow:    inset 0 0 5px white;
  -webkit-box-shadow: inset 0 0 5px white;
  box-shadow:         inset 0 0 5px white;
}

.circle{
  top: 17em;
  display: block;
  margin: 0 auto;
  max-width: 50px;
  position: absolute;
  display: flex;
  stroke-linecap: round;
  stroke-dashoffset: 0;
}

.size {
  max-width: 120px;
  word-wrap: break-word;
}

.circle-transition{
  transition: all 0.3s linear 0ms;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0ms;
}
#root{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
